*{
    margin: 0px;
    padding: 0px;
}


.bar{
    /* width: 500px; */
    /* height: 30px; */
    border-radius: 800px 0px 0px 800px;
}
.icn{
    color: white;
}
.in{
    font-size: 12px;
}
#video{
    font-size: 20px;
    
}
#mic{
    /* border: solid 1px; */

    border-radius: 100%;
    padding:5px 14px;
}

#search{
    border-radius: 0px 800px 800px 0px;
    padding:5px 15px 1px 15px;
    /* font-size: 15px; */
}
.hd3{
    /* border: solid 1px; */
    font-size: 16px;
    padding: 5px 8px;
    border-radius: 5px;
}

.card{
    width: 800px;
}
.side{
    font-size: 18px;
    width: 200px;
}

.watch:hover{
    background-color: rgb(47, 47, 84);
}
.more{
    background-color: rgb(47, 47, 84);
}
.more:hover{
    border-color: rgb(73, 69, 69); ;
}
/* .small{
    color: rgb(160, 159, 159);
}

.small1:hover{
    color: white;
} */

/* .sidenav{
    
    position: fixed;
   
    overflow-x:scroll;

} */
.navbar{
    background-color: black;
    position: fixed;
    z-index: 1;
    width: 100%;

}
.side{
    position: fixed;
    z-index: 1;
    overflow-y:scroll;
    scrollbar-width: none;
    bottom: 0;
    top: 0;
    left: 0;
    width: 220px;
    /* border: solid 1px; */
}

.cards{

    margin-left: 220px;
}
.navbar1{
    margin-left: 220px;
}
.section3{
    height: 700px;
    margin-left: 280px;
    width: 1170px;

}
.sb{
    text-decoration: none;
    color: white;
    padding: 2px 10px 2px 10px;
    text-align: center;
    border: solid 1px rgb(93, 92, 92);
    border-radius: 20px;
    width: 350px;
}
.log{
    margin-left: -10px;
}


@media(max-width:769px){
    .cards{
        margin-left: -20px;
    }
}